@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

/* * {
  border: .5px solid red;
} */

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
  color: white;
}

header a {
  text-decoration: none;
  color: white;
  margin: 0 5vw;
}

main {
  margin: 15vh 0 0 0;
  height: 70vw;
}

.landingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/landing-page.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.logoLanding {
  height: 50vh;
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  padding: 5vh;
  border-radius: 15px;
  box-shadow: 5px 5px 5px darkslategray;
}

.buttonControl {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40vw;
  align-items: center;
  margin: 5vh auto;
}

.buttonControl > button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  padding: 2vh;
  width: 13vw;
  height: 9vh;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin: 2vh 2vw;
  box-shadow: 5px 5px 10px black;
}

.buttonControl > button:hover {
  background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
  letter-spacing: 1px;
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

/* .searchContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1vw;
  row-gap: 1vh;
  margin: 25vh 1vw;
} */

.searchContainer {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  background-image: url("https://images.unsplash.com/photo-1436076863939-06870fe779c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
  background-position: center;
  background-size: cover;
  height: 100%;
  background-position: fixed;
}

.searchOptions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: space-around;
  text-align: center;
  height: 50vh;
  min-width: 25vw;
  max-width: 35vw;
  margin: 10vh 1vw;
  background-color: black;
  border-radius: 15px;
}

.searchOptions > a {
  text-decoration: none;
  color: white;
  font-size: .8em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results {
  margin: 5vh auto 20vh auto;
}

.beerResults {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1vw;
  row-gap: 1vh;
  margin: 1vh 1vw 20vh 1vw;
}

.indResults {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border: .5px solid black;
  box-shadow: 5px 5px 10px black;
  padding: 1vh 1vw;
  border-radius: 10px;
}

.indResults img {
  overflow: hidden;
  height: 30vh;
}

.indResults .far {
  margin-top: 1vh;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  left: 0;
  bottom: 0;
  margin: 5vh 0 0 0;
  height: 20vh;
  background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
  color: white;
}

.weatherFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.weatherFooter p {
  margin: 0;
  padding: 0;
}

.weatherInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.weatherInfo > img {
  height: 50px;
}

.temperatures {
  text-align: right;
}

.weatherRec {
  letter-spacing: .2rem;
}

.weatherRec > p > span {
  color: red;
  font-weight: 900;
  font-size: 1.2em;
  text-transform: uppercase;
}

::placeholder{
  color: red;
  font-weight: 400;
  font-size: 1em;
  text-align: left;  
}