@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");

.searchContainer::-webkit-scrollbar {
  width: 0 !important;
}
.beerResults::-webkit-scrollbar {
  width: 0 !important;
}
.breweryResults::-webkit-scrollbar {
  width: 0 !important;
}

.App {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 13vh;
  background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
  color: white;
  box-shadow: 5px 5px 5px black;
}

header a {
  text-decoration: none;
  color: black;
  padding: 0.5vh 2vw;
  font-weight: 900;
  font-size: 1.5em;
  text-transform: uppercase;
}

header a:hover {
  background: black;
  color: white;
  padding: 0.5vh 2vw;
}

main {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(180deg, #4b6cb7 0%, #182848 100%);
  background-image: url("https://images.unsplash.com/photo-1436076863939-06870fe779c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
  background-position: center;
  background-size: cover;
  z-index: -2;
}

.landingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/landing-page.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.logoLanding {
  height: 50vh;
  color: black;
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
  padding: 5vh;
  border-radius: 15px;
  box-shadow: 5px 5px 5px darkslategray;
  transition: all 0.4s ease 0s;
}

.logoLanding:hover {
  background: linear-gradient(90deg, #fdbb2d 0%, #22c1c3 100%);
  transition: all 0.4s ease 0s;
  color: white;
  transform: scale(1.1);
}

.buttonControl {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40vw;
  align-items: center;
  margin: 5vh auto;
}

.buttonControl > button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
  padding: 2vh;
  width: 13vw;
  height: 9vh;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin: 2vh 2vw;
  box-shadow: 5px 5px 10px black;
}

.buttonControl > button:hover {
  background: linear-gradient(90deg, #fdbb2d 0%, #22c1c3 100%);
  letter-spacing: 1px;
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://images.unsplash.com/photo-1436076863939-06870fe779c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.home > .hometext {
  margin: 15vh auto;
  width: 50vw;
  text-align: center;
  color: black;
  background-color: rgba(240, 240, 240, 0.8);
  border-radius: 15px;
  padding: 1vh 1vw;
  box-shadow: 5px 5px 5px rgba(240, 240, 240, 0.5);
}

.searchContainer,
.favorites {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-position: fixed;
}

.beerResults {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  background-position: center;
  background-size: cover;
  height: 80vh;
  width: 100vw;
  background-position: fixed;
}

.breweryResults {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100vw;
  background-position: fixed;
}

.searchOptions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: space-around;
  text-align: center;
  height: 60vh;
  min-width: 25vw;
  max-width: 35vw;
  margin: 15vh 2vw;
  background-color: black;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  box-shadow: 5px 5px 5px black;
}

.searchOptions > a {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
}

.option1 {
  background-image: url("https://images.unsplash.com/photo-1464850415870-a401ff8b4818?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=664&q=80");
}

.option2 {
  background-image: url("https://images.unsplash.com/photo-1505075106905-fb052892c116?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
}
.option3 {
  background-image: url("https://images.unsplash.com/photo-1510664691675-9c263a118102?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
}
.option4 {
  background-image: url("https://images.unsplash.com/photo-1533661034880-690971041dc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80");
}
.option5 {
  background-image: url("https://images.unsplash.com/photo-1516458464372-eea4ab222b31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=666&q=80");
}
.option6 {
  background-image: url("https://images.unsplash.com/photo-1549044466-404f19605ddc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
}
.option7 {
  background-image: url("https://images.unsplash.com/photo-1559526642-c3f001ea68ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80");
}
.option8 {
  background-image: url("https://images.unsplash.com/photo-1524587253133-266042ff67d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80");
}

.search {
  margin: 12vh 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputField {
  border: none;
  height: auto;
  width: 15vw;
  font-size: 2.5em;
  font-weight: 900;
  background-color: lightgray;
  border-bottom: 0.5px solid lightslategrey;
}

::placeholder {
  color: lightgray;
  text-align: left;
}

.breweryResults > .indResults {
  display: flex;
  white-space: hidden;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 40vh;
  min-width: 40vw;
  margin: 0vh 1vw;
  padding: 1vh 1vw;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px 5px black;
}

.beerResults > .indResults {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 60vh;
  min-width: 50vw;
  margin: 0vh 1vw;
  padding: 1vh 1vw;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px 5px black;
}

.beerResults > .indResult {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 60vh;
  margin: 0vh 1vw;
  padding: 1vh 1vw;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px 5px black;
}

.indResult img {
  overflow: hidden;
  height: 30vh;
}

.indResult h2,
.indResult h4,
.indResult p {
  margin: 0;
  padding: 0;
}

.indResults h2,
.indResults h4,
.indResults p {
  margin: 0;
  padding: 0;
}

.indResults img {
  overflow: hidden;
  height: 30vh;
}

.indResults .far,
.indResult .far {
  margin-top: 1vh;
}

.indResults .gold,
.indResult .gold {
  color: goldenrod;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  width: 100vw;
  left: 0;
  bottom: 0;
  height: 13vh;
  background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
  color: black;
  box-shadow: -5px -5px 5px black;
}

.weatherFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.weatherFooter p {
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.weatherInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

.weatherInfo > img {
  height: 50px;
}

.temperatures {
  text-align: right;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.temperatures > span {
  color: red;
  font-weight: 900;
}

.weatherRec {
  letter-spacing: 0.2rem;
}

.weatherRec > p > span {
  color: red;
  font-weight: 900;
  font-size: 1.2em;
  text-transform: uppercase;
  text-shadow: 0.5px 0.5px 0.5px black;
}

/* Most common screen sizes according codecademy: https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/screen-sizes.png */

@media only screen and (max-width: 480px) {
  .landingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logoLanding {
    width: 80vw;
  }

  .buttonControl {
    width: 80vw;
  }

  .buttonControl > button {
    width: 30vw;
  }

  .weatherRec {
    width: 90vw;
    text-align: center;
  }

  .search {
    width: 100vw;
  }

  .search select,
  .search input,
  .search button {
    box-shadow: inset 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 5px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
  }

  .search select:hover,
  .search input:hover,
  .search button:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
  }

  .search select:active,
  .search input:active,
  .search button:active {
    position: relative;
    top: 1px;
  }

  .beerResults {
    height: 60vh;
  }

  .beerResults > .indResults,
  .beerResults > .indResult {
    height: 50vh;
  }

  .beerResults > .indResult {
    width: 90vw;
    margin: 0 5vw;
  }

  .indResults p,
  .indResult p {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 1024px) {
}
